body {
    font-family: 'Pacifico', cursive;
    background-color: darkcyan;
    padding: 30px;
}
h1 {
    color:rgb(165, 254, 225);
    text-align: center;
    font-size: 60px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid darkcyan;
    color: rgb(60, 57, 57);
    font-size: 25px;
}
th {
    background-color:rgb(165, 254, 225)
}

#temperatureTable {
    background-color: rgb(165, 254, 225);
}

#maxTemp, #minTemp {
    font-size: 25px;
}